.stats-multi {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: min(664px, calc(90vw - 13.5px));
  max-width: 664px;
  margin: 0 auto 60px;
}

.stats-multi .stats-multi-item {
  width: 100%;
}

.stats-multi .stats-multi-item + .stats-multi-item {
  margin-top: 30px;
}

.stats-multi .stats-multi-value,
.stats-multi .stats-multi-value-cell > :first-child {
  margin: 0 0 30px;
  font-size: 40px;
  font-weight: 700;
  line-height: 1;
}

.stats-multi .stats-multi-label,
.stats-multi .stats-multi-label-cell > :first-child {
  width: 100%;
  margin: 0;
  border-top: 4px solid #00afeb;
  padding-top: 20px;
  font-size: 22px;
  font-weight: 500;
  line-height: 1.2;
}

@media (width <= 600px) {
  .stats-multi {
    text-align: center;
  }

  .stats-multi .stats-multi-item {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (width <= 400px) {
  .stats-multi .stats-multi-item {
    width: 75%;
  }
}

@media (width >= 601px) {
  .stats-multi {
    flex-flow: row wrap;
    justify-content: space-between;
  }

  .stats-multi .stats-multi-item {
    width: 30%;
  }

  .stats-multi .stats-multi-item + .stats-multi-item {
    margin-top: 0;
  }

  .stats-multi .stats-multi-label,
  .stats-multi .stats-multi-label-cell > :first-child {
    width: 80%;
  }
}

@media (width >= 601px) and (width < 1200px) {
  .stats-multi {
    max-width: 575px;
  }
}
